_local.yml
.passkey
.compose
vars.yml
*.cert.pem
*.key.pem
/playbooks/deploy/roles/*/vars/main.yml
/playbooks/deploy/deploy/vars/main.yml

# Librechat
/playbooks/deploy/roles/librechat/templates/config/*.j2