#SPDX-License-Identifier: MIT-0
---
# vars file for playbooks/deploy/roles/librechat-narxoz
mongodb_password: mongo_pass
meili_master_key: master_key
openai_api_key: open_api_key
librechat_domain: librechat-domain.com
ragdb_password: pgvector_pass
