services:
  mongodb:
    image: {{ docker_registry }}mongo:7.0
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongoroot
      - MONGO_INITDB_ROOT_PASSWORD={{ db_password }}
    networks:
      apps:
        aliases:
          - mongodb
    volumes:
      - mongodb-data:/data/db
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.labels.app-db-primary == true
      labels:
        - traefik.enable=false

networks:
  apps:
    driver: overlay
    external: true

volumes:
  mongodb-data: