[providers]
    providersThrottleDuration = "10"
    [providers.swarm]
        exposedByDefault = false
        network = "apps"
        watch = true
    [providers.file]
        filename = "etc/traefik/traefik.dynamic.toml"
        watch = true

[entrypoints]
    [entrypoints.http]
        address = ":80"
    [entrypoints.https]
        address = ":443"
        [entrypoints.https.http.tls]
    # TODO: add other entrypoints here

[log]
    level = "DEBUG"
    format = "json"

[api]
    dashboard = true
    insecure = false

[certificatesResolvers.letsencrypt.acme]
	email = "nurovich14@gmail.com"
	storage = "acme.json"

	[certificatesResolvers.letsencrypt.acme.httpChallenge]
		entryPoint = "http"